body{
  color: black;
  display: flex;
  flex-wrap: wrap;
}



.image-item {
  background-color:teal;
  width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.creature {
  width: 100px;
  height: 100px;
}